$dark: #131325;
.clearfix {
  background-color: green;
}
.flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.flex-column {
  display: flex;
  flex-flow: column;
}
.title {
  font-size: 2em;
  color: black;
  letter-spacing: 1px;
}
.author {
  font-size: 20px;
  font-weight: normal;
  color: #888;
}
.center {
  align-items: center;
  top: 50%;
  left: 50%;
}
.list {
  border-radius: 3px;
  overflow: hidden;
  background-color: lighten($dark, 8%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 90px;
}
.card {
  cursor: pointer;
  min-width: 700px;
  margin-bottom: 20px;
  perspective: 600px;
  transition: all 0.1s;
}
button.simple {
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #1ea94b;
  padding: 15px 20px;
  font-family: "Roboto-bold";
  font-weight: bold;
  transition: all 0.1s;
}
.bottom {
  height: 0px;
  overflow: hidden;
  width: 200px;
  font-size: 12px;
  color: #777;
  font-weight: normal;
}
.open {
  padding: 30px;
  height: auto;
}
.bottom {
  height: 0px;
  overflow: hidden;
  width: 200px;
  font-size: 12px;
  color: #000000;
  font-weight: normal;
}
.open {
  padding: 30px;
  height: auto;
}
.bottom {
  margin-top: 10px;
  height: 100%;
  overflow: visible;
}
.book {
  transform: rotateY(50deg);
  box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.2), -2px 0px 0px 0px #888;
  transition: all 0.5s;
  transition-delay: 0.05s;
}
.info {
  transform: translate(0, -10px);
}
.members {
  padding: 15px 20px;
  border-radius: 4px;
  align-self: flex-start;
}
.book:hover {
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.3);
  transform: translate(0, -2px);
}

.book {
  transition: all 0.5s;
  width: 120px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.info {
  transition: all 0.2s;
  min-width: 200px;
  padding: 0px 30px;
  font-family: "Roboto";
  font-weight: bold;
}
.group {
  margin-left: auto;
}
.members {
  transition: all 0.1s;
  padding: 40px;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  font-size: 40px;
  background-color: white;
}
.current {
  font-weight: bold;
  margin-right: 10px;
}
.max {
  opacity: 0.5;
  margin-left: 10px;
}
